div{
	background: #800057;
	font-family: cursive;
	padding: 15%;
	width: 30%;
	color: white;

}
input[type=text] {
	background-color: #CC007E;	
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  
}
button{
  background-color: #CC007E;
  border: none;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}


select, option {
	
  background-color: #CC007E;
  border: none;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

 table,td,tr{
  background:#800057;
  font-family: arial;
  color: black;

}
input{
  background-color: #CC007E;  
  width: 100%;
  padding: 3px 2px;
  margin: 2px 0px;
  color: black;
  overflow: none;
}